@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

.backdrop-blur-md {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

html {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body {
  font-family: "Inter", sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

main {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
